<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta charset="utf-8" />
    <title>BMS Web</title>
  </head>

  <body
    style="background: rgb(255, 255, 255); font-family: Raleway, sans-serif !important;"
    class="skin-blue fixed sidebar-mini"
  >
    <div id="app" style="background: rgb(255, 255, 255)" class="wrapper"></div>
  </body>
</html>
